/* ===== GLOBAL STYLES ===== */

:root {
  --clr-accent: #2196f3;
  --clr-light-text: #757575;
  --clr-socials: #afb1b8;
  --clr-dark-text: #212121;
  --clr-accent-darken: #177ce8;
  --clr-neutral-100: #f5f4fa;
  --clr-neutral-900: #2f303a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark-text);
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-accent);
}

button:hover {
  cursor: pointer;
  background-color: var(--clr-accent-darken);
  transition: background-color 0.2s;
}

section {
  margin-bottom: 94px;
}

.socials {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.socials__link:hover {
  background-color: var(--clr-accent);
  /* color: #fff; */
}

.socials__link path {
  transition: fill 0.3s;
}

.socials__link:hover path {
  fill: #fff;
}

.socials_dark .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials_dark path {
  fill: #fff;
}

.socials_dark .socials__link:hover {
  background-color: var(--clr-accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__control {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0.93em 1em;
  background-color: transparent;
  color: #fff;
  transition: border-color 75ms;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form__control:focus,
.btn {
  outline: none;
  border-color: #fff;
}

.form__control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  font-weight: bold;
  line-height: 30px;
  background-color: var(--clr-accent);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.7em 1.5em;
}

.btn:focus {
  border: 1px solid #fff;
}
/* --- GLOBAL STYLES --- */

/* ===== MODAL ===== */

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1488;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 300ms, transform 300ms;
}

.modal_open {
  opacity: 1;
  transform: translateY(0);
}

.modal__content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  display: grid;
  place-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
}

.modal__close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-dark-text);
  margin-bottom: 12px;
}

.modal__submit {
  padding-left: 58px;
  padding-right: 58px;
  display: block;
  margin: 0 auto;
}

.form-field__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--clr-light-text);
  margin-bottom: 4px;
}

.form-field__control {
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 75ms;
}

.form-field__input {
  padding: 0.69em 0.75em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color 75ms;
}

textarea.form-field__input {
  resize: vertical;
}

.form-field__input__icon-left {
  padding-left: 34px;
}

.form-field__input:focus {
  outline: none;
  border: 1px solid var(--clr-accent);
}

.form-field__input:focus + .form-field__icon path {
  fill: var(--clr-accent);
}

.form-field__input::placeholder {
  color: var(--clr-light-text);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__btn {
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--clr-accent);
  color: #fff;
  padding: 10px 57px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

/* --- MODAL --- */

/* =====  HEADER ===== */
.navbar {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo_dark {
  color: #fff;
}

.logo__primary {
  color: var(--clr-accent);
}

.menu {
  margin-left: 93px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__item:not(:last-child) {
  gap: 50px;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.menu__link {
  display: block;
  position: relative;
  padding: 31px 0;
}

.menu__link_active {
  color: var(--clr-accent);
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
  background-color: var(--clr-accent);
}

.menu__link:hover::after,
.menu__link_active::after {
  transform: scaleX(1);
}

.header__email {
  margin-right: 30px;
}

.header__email::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 12px;
  width: 16px;
  background: url(/img/envelope.svg) center / cover no-repeat;
}

.header__phone::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 16px;
  width: 10px;
  background-image: url(/img/smartphone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ---  HEADER --- */

/* =====  HAMBURGER MENU ===== */
#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  clip-path: circle(2150px at top right);
}

#toggle:checked ~ #toggleNav {
  position: fixed;
  top: 5px;
  /* right: 0; */
  margin-right: 16px;
}

#toggle:checked ~ #toggleNav .fa-bar2 {
  transform: rotate(45deg);
}

#toggle:checked ~ #toggleNav .fa-bar3 {
  opacity: 0;
  transform: translateX(100%);
  transition: 0.5s;
}

#toggle:checked ~ #toggleNav .fa-bar1 {
  bottom: 0;
  top: 25px;
  transform: rotate(135deg);
}

.fa-bars {
  position: absolute;
  display: block;
  width: 24px;
  height: 2.5px;
  background: #000;
  transition: all 0.5s;
  /* border-radius: 4px; */
}

#toggle:hover ~ #toggleNav .fa-bars {
  background-color: var(--clr-accent);
}

#toggleNav {
  display: none;
  margin-left: auto;
  position: relative;
  width: 24px;
  height: 16px;
}

.fa-bar1 {
  top: 100%;
}

.fa-bar2 {
  top: 50%;
}

.fa-bar3 {
  top: 0;
}

@media (max-width: 768px) {
  .header__info {
    /* display: none; */
  }

  .header__phone {
    font-weight: 500;
    font-size: 34px;
    color: var(--clr-accent);
  }
  .header__email {
    font-weight: 500;
    font-size: 24px;
    color: var(--clr-light-text);
  }
  #toggleNav {
    display: block;
    z-index: 1;
  }
  .menu {
    background: #fff;
    position: fixed;
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    clip-path: circle(0 at top right);
    transition: clip-path 0.5s ease-in-out;
  }
  .menu__list {
    height: 100%;
    transform: translateY(5%);
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .menu__link:hover::after {
    transform: scaleX(0);
  }
  .menu__link_active::after {
    display: none;
  }
  .menu__link {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .navbar {
    justify-content: space-between;
  }
  .menu {
    /* margin-left: 0; */
  }
  .header__info {
    flex-direction: column;
    gap: 10px;
  }
  .header__email {
    margin-right: 0;
  }
}

/* ---  HAMBURGER MENU --- */

/* ===== FOOTER ===== */
.footer {
  background-color: var(--clr-neutral-900);
  color: #fff;
  padding: 3.75em 0;
}

.footer__grid {
  display: grid;
  grid-template-columns: 231px 206px 1fr;
  gap: 80px;
}

.footer__socials,
.footer__subscribe {
  margin-top: 12px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__link {
  display: block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  gap: 12px;
}

.footer__input {
  width: 100%;
}

.footer__subscribe-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__address {
  color: #fff;
}
@media (max-width: 1100px) {
  .footer__subscribe {
    text-align: center;
  }
  .footer__form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__input {
    max-width: 450px;
  }
}
@media (max-width: 991px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    /* text-align: center; */
  }
  .footer__subscribe {
    grid-column: 1 / 3;
  }
  .footer__socials-list {
    margin: 0 auto;
  }
}
/* --- FOOTER --- */
