/* ===== GLOBAL STYLES ===== */
:root {
  --clr-accent: #2196f3;
  --clr-light-text: #757575;
  --clr-socials: #afb1b8;
  --clr-dark-text: #212121;
  --clr-accent-darken: #177ce8;
  --clr-neutral-100: #f5f4fa;
  --clr-neutral-900: #2f303a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--clr-dark-text);
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--clr-accent);
}

img {
  display: block;
  max-width: 100%;
}

section {
  margin-bottom: 94px;
}

.socials {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.socials__link:hover {
  background-color: var(--clr-accent);
  /* color: #fff; */
}

.socials__link path {
  transition: fill 0.3s;
}

.socials__link:hover path {
  fill: #fff;
}

.socials_dark .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials_dark path {
  fill: #fff;
}

.socials_dark .socials__link:hover {
  background-color: var(--clr-accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__control {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0.93em 1em;
  background-color: transparent;
  color: #fff;
  transition: border-color 75ms;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form__control:focus,
.btn {
  outline: none;
  border-color: #fff;
}

.form__control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  font-weight: bold;
  line-height: 30px;
  background-color: var(--clr-accent);
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.7em 1.5em;
}

.btn:focus {
  border: 1px solid #fff;
}
/* --- GLOBAL STYLES --- */

/* =====  HEADER ===== */
.navbar {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo_dark {
  color: #fff;
}

.logo__primary {
  color: var(--clr-accent);
}

.menu {
  margin-left: 93px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__item:not(:last-child) {
  gap: 50px;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.menu__link {
  display: block;
  position: relative;
  padding: 31px 0;
}

.menu__link_active {
  color: var(--clr-accent);
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
  background-color: var(--clr-accent);
}

.menu__link:hover::after,
.menu__link_active::after {
  transform: scaleX(1);
}

.header__email {
  margin-right: 30px;
}

.header__email::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 12px;
  width: 16px;
  background: url(../img/envelope.svg) center / cover no-repeat;
}

.header__phone::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 16px;
  width: 10px;
  background-image: url(../img/smartphone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ---  HEADER --- */

/* =====  HAMBURGER MENU ===== */
.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 300ms;
}

.navbar-socials {
  display: none;
  gap: 20px;
  color: var(--clr-accent);
  line-height: 22px;
  font-size: 18px;
}

#toggle {
  display: none;
  position: absolute;
  width: 24px;
  height: 18px;
  z-index: 3;
  cursor: pointer;
  transition: 2s;
}

.toggle:checked ~ .toggler {
  position: fixed;
  right: 15px;
}

.toggler {
  display: none;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 18px;
}

.hamburger {
  display: block;
  position: absolute;
  width: 24px;
  flex-shrink: 0; /* delete*/
  height: 3px;
  background-color: var(--clr-dark-text);
  cursor: pointer;
  z-index: 2;
  transition: 300ms;
}

.line-2 {
  top: 7px;
}

.line-3 {
  top: 14px;
}

#toggle:checked + .toggler .line-1 {
  top: 7px;
  transform: rotate(-45deg);
}

#toggle:checked ~ .toggler .line-2  {
  transform: translateX(150%);
  opacity: 0;
}

#toggle:checked ~ .toggler .line-3 {
  top: 7px;
  transform: rotate(45deg);
}

.toggle:checked ~ .navbar__content {
  height: 100vh;
  clip-path: circle(1150px at top right);
}

.toggler:hover > .hamburger {
  background-color: #177ce8;
}

.navbar-socials__item {
  position: relative;
}

.navbar-socials__item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  place-items: center;
  height: 22px;
  width: 2px;
  background-color: rgba(33, 33, 33, 0.2);
}


@media (max-width: 991px) {
  .menu {
    margin-left: 30px;
  }
  .navbar {
    justify-content: space-between;
  }
  .header__info {
    flex-direction: column;
    gap: 10px;
  }
  .header__email {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .toggler {
    display: block;
    z-index: 1000;
  }
  .navbar__content {
    clip-path: circle(0 at top right);
    padding-left: 1.5em;
    padding-bottom: 60px;
    font-weight: 500;
    letter-spacing: 0.02em;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--clr-neutral-100);
    visibility: hidden;
  }
  .navbar-socials {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .menu__list {
    gap: 10px;
    flex-direction: column;
    line-height: 30px;
    font-size: 2em;
    margin-top: 3rem; 
  }
  .menu__link {
    padding: 0.4em 0;
  }
  .header__phone {
    color: var(--clr-accent);
    font-size: 26px;
    line-height: 30px;
    order: -1;
    margin-bottom: 16px;
  }
  .header__email {
    color: var(--clr-light-text);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .header__email::before,
  .header__phone::before {
    display: none;
  }
  .menu__link_active::after, 
  .menu__link:hover::after {
    transform: scale(0);
  }
  .navbar__content > * {
    width: 100%;
  }
  .toggle:checked ~ .navbar__content {
    visibility: visible;
  }
  .header__info {
    margin-top: auto;
  }
}

/* ---  HAMBURGER MENU --- */

/* ===== FOOTER ===== */
.footer {
  background-color: var(--clr-neutral-900);
  color: #fff;
  padding: 3.75em 0;
}

.footer__grid {
  display: grid;
  grid-template-columns: 231px 206px 1fr;
  gap: 80px;
}

.footer__socials,
.footer__subscribe {
  margin-top: 12px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__link {
  display: block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  gap: 12px;
}

.footer__input {
  width: 100%;
}

.footer__subscribe-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__address {
  color: #fff;
}
@media (max-width: 1100px) {
  .footer__subscribe {
    text-align: center;
  }
  .footer__form {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__input {
    max-width: 450px;
  }
}
@media (max-width: 991px) {
  .footer__title {
    text-align: center;
  }
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__subscribe {
    grid-column: 1 / 3;
  }
  .footer__socials-list {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .footer__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer__subscribe {
    grid-column: unset;
  }
}
/* --- FOOTER --- */
