.main {
  margin: 94px 0;
}

/* ===== TAGS ===== */

.tags {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.tags__label {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 26px;
  padding: 10px 24px;
  background-color: var(--clr-neutral-100);
  transition: background-color 75ms, box-shadow 75ms;
}

.tags__label:hover,
.tags__input:focus + .tags__label {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.tags__input:checked + .tags__label {
  background-color: var(--clr-accent);
  color: #fff;
}

/* --- TAGS --- */

/* ====== PROJECTS ====== */

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project {
  display: block;
  border: 1px solid #eeeeee;
}

.project__preview {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--clr-neutral-100);
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;

  display: flex;
  align-items: center;

  transform: translateY(150%);
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform linear 0.3s;
}

.project:hover .project__description {
  /* display: flex; */
  opacity: 1;
  transform: translateY(0);
}

.project__info {
  padding: 20px 24px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.project__tag {
  color: var(--clr-light-text);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
@media (max-width: 991px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 624px) {
  .tags__item {
    display: block;
    margin: 8px 0;
  }
  .tags {
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (max-width: 576px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
/* --- PROJECTS --- */
